# Export UK-KingsCollege site temperature
- This script is used to export sWBGT at the UK-KingsCollege site on 2013-07-22;
- Simulations: CNTL, BASE;

In [38]:
import xarray as xr
import pandas as pd
import numpy as np

In [39]:
GRIDNAME='UK-Kin'
name_lcz = GRIDNAME + '_base_landunit'
name_def = GRIDNAME + '_def_landunit'
path = '/mnt/iusers01/fatpou01/sees01/a16404ys/scratch/Projects/archive/0project2/0sp/'
f_lcz = path + name_lcz + '/lnd/hist/'
f_def = path + name_def + '/lnd/hist/'
var = ['SWBGT_U']
start_time = '2013-07-22T00:00:00'
end_time = '2013-07-22T23:30:00'
mid_date = '2013-01-01T00:00:00'
filename_lcz = name_lcz + '.clm2.h0.2002-01-01-00000.nc'
filename_lcz_landunit = name_lcz + '.clm2.h1.2002-01-01-00000.nc'

filename_def = name_def + '.clm2.h0.2002-01-01-00000.nc'
ds_lcz = xr.open_dataset(f_lcz + filename_lcz).sel(time=slice(start_time, end_time))
ds_lcz_landunit = xr.open_dataset(f_lcz + filename_lcz_landunit).sel(time=slice(start_time, end_time))

ds_def = xr.open_dataset(f_def + filename_def).sel(time=slice(start_time, end_time))
ds_lcz['time']=ds_lcz['time'].dt.round('min')
ds_lcz['time']=ds_lcz['time'].dt.ceil('min')
ds_def['time']=ds_def['time'].dt.round('min')
ds_def['time']=ds_def['time'].dt.ceil('min')
tag = ['_def', '_lcz']

In [40]:
# grid level
df_lcz = ds_lcz[var].to_dataframe().reset_index()
df_lcz = df_lcz.rename(columns={'SWBGT_U':'SWBGT_U_lcz'})
df_lcz.drop(columns='lndgrid', inplace=True)
df_def = ds_def[var].to_dataframe().reset_index()
df_def = df_def.rename(columns={'SWBGT_U':'SWBGT_U_def'})
df_def.drop(columns='lndgrid', inplace=True)
df_grid = pd.merge(df_def, df_lcz, on='time')
df_grid['hour']=(df_grid.time.dt.hour) % 24
df_grid['minute']=df_grid.time.dt.minute
df_grid['diurnal']=df_grid['hour'].astype(str).str.zfill(2) + ':' + df_grid['minute'].astype(str).str.zfill(2)
output_dir = '/mnt/iusers01/fatpou01/sees01/a16404ys/scratch/output_analysis/project2/sp/uk_map/'
df_grid.to_csv(output_dir + 'result_grid.csv', index=False)
df_grid

                  time  SWBGT_U_def  SWBGT_U_lcz  hour  minute diurnal
0  2013-07-22 00:00:00    21.938726    22.332767     0       0   00:00
1  2013-07-22 00:30:00    21.872414    22.283951     0      30   00:30
2  2013-07-22 01:00:00    21.681364    22.098442     1       0   01:00
3  2013-07-22 01:30:00    21.625538    22.064867     1      30   01:30
4  2013-07-22 02:00:00    21.534475    21.982815     2       0   02:00
5  2013-07-22 02:30:00    21.466385    21.943382     2      30   02:30
6  2013-07-22 03:00:00    21.315685    21.767895     3       0   03:00
7  2013-07-22 03:30:00    21.013685    21.439442     3      30   03:30
8  2013-07-22 04:00:00    20.744205    21.157061     4       0   04:00
9  2013-07-22 04:30:00    20.536430    20.952028     4      30   04:30
10 2013-07-22 05:00:00    20.492718    20.917156     5       0   05:00
11 2013-07-22 05:30:00    20.810471    21.207939     5      30   05:30
12 2013-07-22 06:00:00    20.892277    21.244204     6       0   06:00
13 2013-07-22 06:30:00    21.040039    21.371628     6      30   06:30
14 2013-07-22 07:00:00    21.323219    21.639622     7       0   07:00
15 2013-07-22 07:30:00    21.788225    22.058321     7      30   07:30
16 2013-07-22 08:00:00    22.505886    22.693350     8       0   08:00
17 2013-07-22 08:30:00    23.124645    23.242746     8      30   08:30
18 2013-07-22 09:00:00    23.843571    23.907171     9       0   09:00
19 2013-07-22 09:30:00    24.556639    24.576216     9      30   09:30
20 2013-07-22 10:00:00    25.429644    25.397921    10       0   10:00
21 2013-07-22 10:30:00    26.148867    26.118212    10      30   10:30
22 2013-07-22 11:00:00    26.919222    26.867495    11       0   11:00
23 2013-07-22 11:30:00    27.642046    27.578600    11      30   11:30
24 2013-07-22 12:00:00    28.227079    28.156773    12       0   12:00
25 2013-07-22 12:30:00    28.549482    28.473251    12      30   12:30
26 2013-07-22 13:00:00    28.357151    28.301924    13       0   13:00
27 2013-07-22 13:30:00    28.577766    28.539387    13      30   13:30
28 2013-07-22 14:00:00    28.465422    28.451315    14       0   14:00
29 2013-07-22 14:30:00    28.645937    28.655012    14      30   14:30
30 2013-07-22 15:00:00    28.597044    28.628613    15       0   15:00
31 2013-07-22 15:30:00    28.517538    28.567017    15      30   15:30
32 2013-07-22 16:00:00    28.567144    28.624378    16       0   16:00
33 2013-07-22 16:30:00    28.538221    28.589930    16      30   16:30
34 2013-07-22 17:00:00    28.278622    28.333551    17       0   17:00
35 2013-07-22 17:30:00    28.037680    28.120007    17      30   17:30
36 2013-07-22 18:00:00    27.684961    27.788425    18       0   18:00
37 2013-07-22 18:30:00    27.512922    27.631601    18      30   18:30
38 2013-07-22 19:00:00    27.339970    27.491781    19       0   19:00
39 2013-07-22 19:30:00    26.858448    27.037603    19      30   19:30
40 2013-07-22 20:00:00    26.829838    27.518423    20       0   20:00
41 2013-07-22 20:30:00    26.145758    26.513205    20      30   20:30
42 2013-07-22 21:00:00    25.796783    25.946047    21       0   21:00
43 2013-07-22 21:30:00    25.476049    25.601147    21      30   21:30
44 2013-07-22 22:00:00    25.365862    25.430208    22       0   22:00
45 2013-07-22 22:30:00    25.095774    25.274704    22      30   22:30
46 2013-07-22 23:00:00    24.893108    25.269381    23       0   23:00
47 2013-07-22 23:30:00    25.531195    26.601446    23      30   23:30

In [36]:
# landunit level
time = ds_lcz_landunit.time
landtype = ds_lcz_landunit.land1d_ityplunit
ntim   = len(time.values)
nland = int(np.max(landtype))+1
df_lcz = pd.DataFrame()
grid_var = np.full([ntim,nland],np.nan)
grid_var[:,landtype.values.astype(int)] = ds_lcz_landunit[var[i]].values
grid_var_dims = xr.DataArray(grid_var, dims=("time","lndtype"))
grid_var_dims = grid_var_dims.assign_coords(time= time,lndtype=[i for i in range(17)])
#for j in range(7, 17):
for j in [8]:
    df_var = (grid_var_dims.sel(lndtype=j)).to_dataframe(var[i]).reset_index()
    df_var['time']=df_var['time'].dt.round('min')
    df_var['time']=df_var['time'].dt.ceil('min')
    df_lcz = pd.concat([df_lcz, df_var], ignore_index=True) 
df_lcz.to_csv(output_dir + 'result_lnd.csv', index=False)     
df_lcz

                  time  lndtype    SWBGT_U
0  2013-07-22 00:00:00        8  22.381792
1  2013-07-22 00:30:00        8  22.333054
2  2013-07-22 01:00:00        8  22.147646
3  2013-07-22 01:30:00        8  22.114414
4  2013-07-22 02:00:00        8  22.030039
5  2013-07-22 02:30:00        8  21.988699
6  2013-07-22 03:00:00        8  21.812162
7  2013-07-22 03:30:00        8  21.485405
8  2013-07-22 04:00:00        8  21.201527
9  2013-07-22 04:30:00        8  20.997234
10 2013-07-22 05:00:00        8  20.961185
11 2013-07-22 05:30:00        8  21.248394
12 2013-07-22 06:00:00        8  21.290634
13 2013-07-22 06:30:00        8  21.413755
14 2013-07-22 07:00:00        8  21.676811
15 2013-07-22 07:30:00        8  22.090715
16 2013-07-22 08:00:00        8  22.725725
17 2013-07-22 08:30:00        8  23.276543
18 2013-07-22 09:00:00        8  23.945721
19 2013-07-22 09:30:00        8  24.615839
20 2013-07-22 10:00:00        8  25.441988
21 2013-07-22 10:30:00        8  26.168859
22 2013-07-22 11:00:00        8  26.923149
23 2013-07-22 11:30:00        8  27.642542
24 2013-07-22 12:00:00        8  28.234180
25 2013-07-22 12:30:00        8  28.551474
26 2013-07-22 13:00:00        8  28.391106
27 2013-07-22 13:30:00        8  28.633806
28 2013-07-22 14:00:00        8  28.550589
29 2013-07-22 14:30:00        8  28.756987
30 2013-07-22 15:00:00        8  28.732508
31 2013-07-22 15:30:00        8  28.668287
32 2013-07-22 16:00:00        8  28.719173
33 2013-07-22 16:30:00        8  28.679628
34 2013-07-22 17:00:00        8  28.415636
35 2013-07-22 17:30:00        8  28.200083
36 2013-07-22 18:00:00        8  27.858837
37 2013-07-22 18:30:00        8  27.699923
38 2013-07-22 19:00:00        8  27.558538
39 2013-07-22 19:30:00        8  27.097151
40 2013-07-22 20:00:00        8  27.692175
41 2013-07-22 20:30:00        8  26.604403
42 2013-07-22 21:00:00        8  26.004780
43 2013-07-22 21:30:00        8  25.635571
44 2013-07-22 22:00:00        8  25.468164
45 2013-07-22 22:30:00        8  25.315424
46 2013-07-22 23:00:00        8  25.324303
47 2013-07-22 23:30:00        8  26.840117

In [37]:
df_lcz.loc[29]

time       2013-07-22 14:30:00
lndtype                      8
SWBGT_U              28.756987
Name: 29, dtype: object